.approval-controls-wrapper {
  display: none;
}

.approval-item-wrapper.uptodate {
  background-color: #AFA;
}

.approval-item-wrapper.outdated {
  background-color: #FAA;
}

.content-sync-item-preview {
  padding: 20px;
  margin: 5px 0px;
}

.content-sync-item-preview.source-preview {
  background-color: #AFA;
}

.content-sync-item-preview.target-preview {
  background-color: #FAA;
}